<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="text-center">
    <h1><%= @question.content %></h1>
    <%= form_with url: question_path(@question), method: :patch do |f| %>
        <%= f.hidden_field :question_id, value: @question.id %>
        <% @question.options.each do |option| %>
          <%= f.radio_button :answer, option.id %>
          <%= f.label :answer, option.content %>
          <br>
        <% end %>
        <%= f.submit "回答" %>
    <% end %>
    <% if flash[:error] %>
      <div class="alert alert-danger">
        <%= flash[:error] %>
      </div>
    <% end %>
  </div>
</div>

