<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rubydequiz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.x/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- JS -->  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.x/dist/js/bootstrap.bundle.min.js"></script>
    <%= stylesheet_link_tag "application","data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <!-- ここにナビゲーションバーを追加 -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Rubyでquiz</a>
    <%= link_to 'トップページ', root_path, class: 'nav-link' %>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
        
        </li>
        <!-- 他のリンクをこちらに追加 -->
      </ul>
    </div>
  </nav>
  <body class="background-class">
    <%= yield %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1z4oEo4A4w5Pc4+gO9g5Z4f3zF3JU3mlL57X3/3vT3tuL3Nt3Mw7cmDA6j6gDqRl" crossorigin="anonymous">
  </body>
  </body>
  <footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">© 2023 Rubydequiz</span>
  </div>
</footer>
</html>
